<h1>Hello, Rails!</h1>
<%= link_to 'My Worlds', controller: 'worlds' %>

<h1>Welcome to the Worldmaker!</h1>
  <p>We're so happy to have you.</p>


  <h2> <a href=/signup> Signup </a>
  
   or <a href=/login> Login </a> </h2>